*{
    
    padding: 0px;
    margin: 3px;

}


.Form{
    width: 400px;
    padding:  40px;
    background-color: rgb(245, 202, 245);
    margin: auto;
    margin-top: 40px;
    border-radius: 18px;
}

.Titulo{

    font-size: 35px;
    color: rgb(57, 63, 230);
    margin-bottom: 15px;
    margin-left: 85px;
    

}

.Entradas{

    padding: 5px;
    width: 400px;
    background-color: rgb(236, 200, 229);
    border-radius: 8px;
    border: 1px solid rgb(232, 133, 207);
    margin-bottom: 8px;

}

.Enlaces{

    margin-top: 30px;

}

.Boton{
    
    margin-top: 10px;
    width: 105px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 150px;
    color:  rgb(236, 200, 229);
    background-color:  rgb(57, 63, 230);
    border: 2px solid rgb(45, 51, 209);

}